<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!--<sample></sample>-->
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" (click)="getSubMenu('home')">Home</a></li>
        <li><a href="#" (click)="getSubMenu('page1')">Page 1</a></li>
        <li><a href="#" (click)="getSubMenu('page2')">Page 2</a></li>
        <li><a href="#" (click)="getSubMenu('page3')">Page 3</a></li>
      </ul>
    </div>  

  </div>
  <div class="row">
    <h1>0123456789</h1>
    <h2>02468</h2>
    <h1>Evens</h1>
    <h2>13579</h2>
    <h1>Odds</h1>
  </div>
<!--
  <div class="row">
     
    <div class="col-md-3">

        <app-sidemenu [menuname]="menu"></app-sidemenu>
    </div>  
    <div class="col-md-9">
      <app-child></app-child>
    </div> 
    
  </div>  

  <div class="row">
    <div class="col-md-12">
      <input type="text" #txtUname />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>{{arr1}}</p>
    </div>

    <div class="col-md-12">
      {{testInterpolation1()}}
    </div>

    <div class="col-md-12">
      88{{testInterpolation2()}}
    </div>

  </div>

-->

    <div class="row">
      <button (click)="f1()">Click</button>
      <br />
      Result 1:
      {{result1}}
      <br />
      Result 2:
      {{result2}}

    </div>
  
</div>


