input[type="date"]:before { 
    content: attr(placeholder) !important; color: #aaa; margin-right: 0.5em; 
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {

    display:none;
  -webkit-appearance: none;
}